body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#navigation {
    width: 120px;
}

#notice {
    padding-top: 20px;
}

.new-form {
    margin-bottom: 5em;
}

.new-form table {
    float: left;
}

.new-form .new-form-input {
    padding-top: 23px;
}

.new-form td {
    padding-right: 15px;
}

.new-form th label{
    margin-bottom: 0;
}

.list-action-edit {
    float: left;
    margin-right: 10px;
}