input.error {
    background-color: yellow;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: azure;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-shadow: aquamarine;
    text-transform: capitalize;
}

table.basic {
    border-collapse: collapse;
    margin: 10px;
}

table.basic th, table.basic td {
    border: solid 1px black;
    padding: 4px;
}

/*  http://www.alistapart.com/articles/taminglists/ */
#navigation {
    width: 120px;
    border-right: 1px solid #000;
    padding: 0 0 1em 0;
    margin-bottom: 1em;
    background-color: #90bade;
    color: #333;
}

#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

#navigation li {
    border-bottom: 1px solid #90bade;
    margin: 0;
}

#navigation li a {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #1958b7;
    border-right: 10px solid #508fc4;
    background-color: #2175bc;
    color: #fff;
    text-decoration: none;
    width: 100%;
}

html>body #navigation li a {
    width: auto;
}

#navigation li a:hover {
    border-left: 10px solid #1c64d1;
    border-right: 10px solid #5ba3e0;
    background-color: #2586d7;
    color: #fff;
}

/*  http://realworldstyle.com/2col.html */
#navigation {
    width: 120px;
    float: left;
    margin-left: -1px;
}

#content {
    padding: 10px;
    margin-left: 130px;
}

#welcome {
    margin-left: 50px;
    font-family: Verdana, Tahoma, Arial, sans-serif;
}

#contact {
    margin-left: 50px;
}


/* css for timepicker */
#ui-datepicker-div { font-size:11px; }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }