<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
        xmlns:jpa="http://www.springframework.org/schema/data/jpa"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:security="http://www.springframework.org/schema/security"
        xmlns:jee="http://www.springframework.org/schema/jee"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
    http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
     http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd 
">  
        
    <aop:aspectj-autoproxy/>
    <tx:annotation-driven/>
    <context:annotation-config/>
    
    <context:component-scan base-package="cz.muni.fi.pa165.jtravelagency.dao"/>
    <context:component-scan base-package="cz.muni.fi.pa165.jtravelagency.service"/>
    
    <jdbc:initialize-database data-source="dataSource">
        <jdbc:script location="classpath:init.sql"/>
    </jdbc:initialize-database>  
        
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver" />
        <property name="url" value="jdbc:derby://localhost:1527/pa165" />
        <property name="username" value="pa165" />
        <property name="password" value="pa165" />
        <!--        <property name="hibernate.hbm2ddl.auto" value="update"/>-->
    </bean>   
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="TravelAgencyPU"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg ref="dataSource"/>
    </bean>
    
    <bean id="facade" class="cz.muni.fi.pa165.jtravelagency.facade.ServiceFacadeImpl" />
    
    
    <bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />
    
    <security:global-method-security secured-annotations="enabled" />
    <security:authentication-manager>
  <security:authentication-provider>
    <security:user-service>
      <security:user name="admin" password="admin" authorities="ROLE_ADMIN" />
      <security:user name="user" password="user" authorities="ROLE_USER" />
        <security:user name="rest" password="rest" authorities="ROLE_ADMIN" />
    </security:user-service>
  </security:authentication-provider>
  <security:authentication-provider user-service-ref="userDetailsService">
        </security:authentication-provider>
</security:authentication-manager>


    <security:http pattern="/css/**" security="none"/>
    <security:http use-expressions="true">
        <security:intercept-url pattern="/client/**" access="permitAll" />
        <security:intercept-url pattern="/login.jsp*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
     <!--   <security:intercept-url pattern="/**" access="ROLE_USER, ROLE_ADMIN" />  -->
        <security:form-login login-page='/login.jsp'/>
        <security:logout />
    </security:http>
    
</beans>
